.StyleTab {
  .setting-item {
    padding-bottom: 0;

    .btn {
      padding: 0 0.5em;
    }

    &:not(:first-child) {
      margin-top: 0.5em;
    }

    &:not(:last-child) {
      margin-bottom: 0.5em;
    }

    &.heading {
      display: grid;
      align-items: baseline;
      grid-template-columns: 1fr auto auto auto;
      grid-gap: 0.5em;

      h2 {
        flex: 1 0 auto;
      }
    }

    &.metadata {
      display: flex;

      .setting-item {
        flex: 2 0 auto;
      }

      li {
        text-align: right;
      }
    }
  }

  .component-editor {
    display: grid;
    grid-template-columns: 10em 2fr 3fr;
    grid-template-rows: auto auto 1fr;
    grid-gap: 0.5em;
    grid-template-areas:
      "component-label component ."
      "variant         preview settings"
      "state           preview settings";

    .compopnent-selector {
      grid-area: component;
      align-self: center;
    }

    .component-selector-label {
      grid-area: component-label;
      align-self: center;
      text-align: right;
      font-weight: bold;
    }

    .state-selector,
    .variant-selector {
      display: grid;
      grid-template-rows: auto auto;
      grid-auto-flow: rows;
      grid-gap: 0.5em;

      > label {
        font-weight: bold;
      }
    }

    .state-selector {
      grid-area: state;
    }

    .variant-selector {
      grid-area: variant;
    }

    .state-selector-list {
      display: grid;
      list-style: none;
      grid-template-rows: auto;
      grid-gap: 0.5em;
      padding: 0;
      margin: 0;
    }

    .preview-container {
      grid-area: preview;
    }

    .component-settings {
      grid-area: settings;
    }
  }
}
