.StyleTab {
  .style-control {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 0.5em;

    .label {
      margin-right: 1em;
      flex: 1 1 10em;
      line-height: 2;
    }

    .opt {
      margin: 0.5em;
    }

    .color-input {
      flex: 0 0 0;
    }

    input,
    select {
      min-width: 3em;
      margin: 0;
      flex: 0;

      &[type="number"] {
        min-width: 5em;
      }

      &[type="range"] {
        flex: 1;
        min-width: 2em;
        align-self: center;
        margin: 0 0.5em;
      }

      &[type="checkbox"] + i {
        height: 1.1em;
        align-self: center;
      }
    }
  }

  .setting-item {
    padding-bottom: 0;

    .btn {
      padding: 0 0.5em;
    }

    &:not(:first-child) {
      margin-top: 0.5em;
    }

    &:not(:last-child) {
      margin-bottom: 0.5em;
    }

    &.heading {
      display: grid;
      align-items: baseline;
      grid-template-columns: 1fr auto auto auto;
      grid-gap: 0.5em;

      h2 {
        flex: 1 0 auto;
      }
    }

    &.metadata {
      display: flex;

      .setting-item {
        flex: 2 0 auto;
      }

      li {
        text-align: right;
      }
    }
  }

  .component-editor {
    display: grid;
    grid-template-columns: 10em 2fr 3fr;
    grid-template-rows: auto auto 1fr;
    grid-gap: 0.5em;
    grid-template-areas:
      "component-label component ."
      "variant         preview settings"
      "state           preview settings";

    .compopnent-selector {
      grid-area: component;
      align-self: center;
    }

    .component-selector-label {
      grid-area: component-label;
      align-self: center;
      text-align: right;
      font-weight: bold;
    }

    .state-selector,
    .variant-selector {
      display: grid;
      grid-template-rows: auto auto;
      grid-auto-flow: rows;
      grid-gap: 0.5em;

      > label {
        font-weight: bold;
      }
    }

    .state-selector {
      grid-area: state;
      align-content: flex-start;
      align-items: flex-start;
    }

    .variant-selector {
      grid-area: variant;
    }

    .state-selector-list {
      display: grid;
      list-style: none;
      grid-template-rows: auto;
      grid-gap: 0.5em;
      padding: 0;
      margin: 0;
    }

    .preview-container {
      grid-area: preview;
    }

    .component-settings {
      grid-area: settings;
    }

    .editor-tab {
      border-left: 1px solid var(--border);
      border-right: 1px solid var(--border);
      border-bottom: 1px solid var(--border);
      padding: 0.5em;
    }
  }
}
