@import "src/variables";

.emoji-tab {
  .btn-group .btn {
    margin-left: 0.5em;
  }

  .pack-info-wrapper {
    margin-top: 1em;
  }

  .emoji-info-input {
    width: 100%;
  }

  .emoji-data-input {
    width: 40%;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .emoji {
    width: 32px;
    height: 32px;
  }

  .emoji-unsaved {
    box-shadow: 0 3px 5px var(--cBlue, $fallback--cBlue);
  }

  .emoji-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em 1em;
  }
}

.emoji-tab-edit-popover {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}

.emoji-tab-popover-button {
  margin-left: 0.5em;
}

.emoji-tab-popover-input {
  width: 20em;
  margin-bottom: 0.5em;

  &:not(:first-child) {
    margin-left: 0.5em;
  }
}
