.emoji-tab {
  .btn-group .btn {
    margin-left: 0.5em;
  }

  .pack-info-wrapper {
    margin-top: 1em;
  }

  .emoji-info-input {
    width: 100%;
  }

  .emoji-data-input {
    width: 40%;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .emoji {
    width: 32px;
    height: 32px;
  }
}
