@import "../../mixins";

.StatusActionButtons {
  .quick-action-buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-gap: 1em;
    margin-top: var(--status-margin);

    .quick-action {
      display: grid;
      grid-template-columns: 1fr auto;

      &.-pin {
        margin: calc(-2px - 0.25em);
        padding: 0.25em;
        border: 2px dashed var(--icon);
        border-radius: var(--roundness);
      }

      &.-pin,
      &.-dropdown {
        grid-template-columns: 1fr max-content;
      }

      .reply-button:not(.disabled) {
        &:hover,
        &.-active {
          .svg-inline--fa {
            color: var(--cBlue);
          }
        }
      }

      .retweet-button:not(.disabled) {
        &:hover,
        &.-active {
          .svg-inline--fa {
            color: var(--cGreen);
          }
        }
      }

      .favorite-button:not(.disabled) {
        &:hover,
        &.-active {
          .svg-inline--fa {
            color: var(--cOrange);
          }
        }
      }

      > button,
      > a {
        padding: 0.5em;
        margin: -0.5em;

        @include unfocused-style {
          .focus-marker {
            visibility: hidden;
          }

          .active-marker {
            visibility: visible;
          }
        }

        @include focused-style {
          .focus-marker {
            visibility: visible;
          }

          .active-marker {
            visibility: hidden;
          }
        }
      }
    }
  }
}
// popover
/* stylelint-disable no-descending-specificity */
.extra-action-buttons {
  .extra-action {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    grid-gap: 1em;

    .pin-action-button {
      margin: 0;
      padding: var(--__horizontal-gap) var(--__horizontal-gap);
    }
  }
}

/* stylelint-enable no-descending-specificity */
