@import "../../mixins";

.StatusActionButtons {
  .quick-action-buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-gap: 1em;
    margin-top: var(--status-margin);
  }
}
// popover
.extra-action-buttons {
  .extra-action {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }
}
